=begin
#OpenAPI definition

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v0

Generated by: https://openapi-generator.tech
Generator version: 7.21.0

=end

require 'cgi'

module OpenapiClient
  class RecordViewControllerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # @param filter [ResourceRecordViewFilter] 
    # @param pageable [Pageable] 
    # @param [Hash] opts the optional parameters
    # @return [PagedModelEntityModelResourceRecordView]
    def get_all_records(filter, pageable, opts = {})
      data, _status_code, _headers = get_all_records_with_http_info(filter, pageable, opts)
      data
    end

    # @param filter [ResourceRecordViewFilter] 
    # @param pageable [Pageable] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PagedModelEntityModelResourceRecordView, Integer, Hash)>] PagedModelEntityModelResourceRecordView data, response status code and response headers
    def get_all_records_with_http_info(filter, pageable, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RecordViewControllerApi.get_all_records ...'
      end
      # verify the required parameter 'filter' is set
      if @api_client.config.client_side_validation && filter.nil?
        fail ArgumentError, "Missing the required parameter 'filter' when calling RecordViewControllerApi.get_all_records"
      end
      # verify the required parameter 'pageable' is set
      if @api_client.config.client_side_validation && pageable.nil?
        fail ArgumentError, "Missing the required parameter 'pageable' when calling RecordViewControllerApi.get_all_records"
      end
      # resource path
      local_var_path = '/core/api/v2/records-view'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter'] = filter
      query_params[:'pageable'] = pageable

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PagedModelEntityModelResourceRecordView'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RecordViewControllerApi.get_all_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RecordViewControllerApi#get_all_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
